@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --cor-padrao-amarelo: #ffc500;
}

/* --------------------- NAVBAR-------------------------------*/
.navbar{
    background-color: rgba(0, 0, 0, 0.433);
    color:#fff ;
    position: absolute;
    width: 100%;
    margin: auto;
    z-index: 3;
}
.container{
    margin: auto;
    max-width: 1140px;
}
.container_navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
}
.logo h2{
    font-size: 2.375rem;
    font-weight: 900;
}
.logo h2 a{
    text-decoration: none;
    color: #fff;
}
.logo h2 span{
    color: var(--cor-padrao-amarelo);
}
.logo p{
    font-size: 0.875rem;
    font-weight: 300;
    float: right;
    margin: -5px 0px 0 0;
}
.container_navbar ul{
    list-style: none;
    display: flex;
}
.container_navbar ul li{
    margin-right: 1.5625rem;
}
.container_navbar ul a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 300;
}
.container_navbar ul li a:hover{
    color: var(--cor-padrao-amarelo);
}



/* --------------------- NAVBAR-------------------------------*/



/* --------------------- HEADER-------------------------------*/
#slider{
    overflow: hidden;
    height: 100vh;
}
.slider{
    display: flex;
    height: 100%;
    position: relative;
    height: 300vw;
    transition: all ease 0.5s;
}
.slide{
    width: 100%;
    height: 100vh;
    position: relative;
}
.slide img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.controles{
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 99vw;
    font-size: 5rem;
    padding: 2rem;
}
.vai,.volta{
    cursor: pointer;
    opacity: 0.4;
}
.container_slider{
    top: 0;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
}
.container.slide_info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.box_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-transform: uppercase;
    margin-right: 10%;
}
.box_info h1{
    font-size: 6.25rem;
    color:#fff;
    font-weight: 700;
}
.box_info p{
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 400;
}
.box_info p span,
.box_info h1 span{
    color: var(--cor-padrao-amarelo);
}
.box_info .btn{
    width: 10.93rem;
    padding: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: unset;
    color: var(--cor-padrao-amarelo);
    border: 3px solid var(--cor-padrao-amarelo);
    position: absolute;
    bottom: 15%;
    transition: all ease 0.3s;
}

.btn:hover,
.btn:active,
.bnt:focus{
    border-color: var(--cor-padrao-amarelo);
    background-color: var(--cor-padrao-amarelo);
    color: #fff;
    cursor: pointer;
}


/* --------------------- HEADER-------------------------------*/



/* --------------------- FOOTER-------------------------------*/

footer{
    background-color: #000;
}
.container_footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.formulario form{
    align-items: center;
    display: flex;
}
.formulario label{
    display: inline-block;
    font-size: 0.875rem;
    margin-right: 1.25rem;
}
.formulario input{
    padding: 1rem ;
    width: 19.6875rem;
    background-color: #ffc500;
    outline: none;
    border: none;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.formulario i{
    font-size: 1.5rem;
    padding: 0.75rem;
    color: #000;
    border: none;
    background-color: white;
}

.copy{
    height:6.25rem ;
    background-color: #000;
    font-weight: 300;
    font-size: 0.875rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid rgb(85, 84, 84);
}
.copy>p>span{
    color: var(--cor-padrao-amarelo);
}
.icones{
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}



/* --------------------- Footer-------------------------------*/
